# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/.sass-cache

# Ignore spec files
results/rspec.xml
coverage/*

# Ignore config files
config/database.yml
config/secrets.yml
