.ui.row
  %h2= current_page_title
  = link_to "Add new member", new_admin_member_path, class: "ui primary button"

.ui.row
  = render partial: "user_results", locals: {new_path_for_user: new_admin_member_path}
