%h1 Members Management

%p= link_to "Add new member", new_admin_member_path, class: "btn"
%p= link_to "Download CSV", UriQueryMerger.new(request.url, {format: :csv}).merge, class: "btn"

= render partial: "user_results", locals: {delete_url: -> (user) { admin_member_path(user) }, edit_url: -> (user) { edit_admin_member_path(user) } }
