.page-header
  %h1 Admin Management
  .header-actions
    = link_to "Add new member", new_admin_member_path, class: "btn btn-primary"
    = link_to_csv(request)

.page-content
  = render partial: "user_results"
