.ui.row
  .column
    %h1.ui.left.floated.header= current_page_title

.ui.row
  .column
    .ui.tiny.statistic
      .value
        %i.user.icon
        = @user_count
      .label= "User".pluralize(@user_count)
