// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

.visually-hidden
  @extend %visually-hidden

[href="#skip-to-content"]:focus
  background-color: #fff
  clip: auto
  height: auto
  margin: auto
  padding: $small-spacing
  width: auto
  z-index: 200

.app-logo
  stroke: #fff
