.sidebar-pages
  %h1.js-nav-toggle{data: {navigation_toggle_target: '#pages-nav'}} User Management

  %button.mobile-nav.js-nav-toggle{style: 'display: none;', aria: {label: 'Toggle Pages'}, data: {navigation_toggle_target: '#pages-nav'}}
    %span Menu

  %ul#pages-nav.nav
    = render "layouts/admin/sidebar_links"
