- content_for :stylesheets do
  = stylesheet_link_tag 'admin', media: 'all'

- content_for :content do
  %aside{role: 'complementary'}
    .sidebar-pages
      %h1.js-nav-toggle{data: {navigation_toggle_target: '#pages-nav'}} Pages
      %button.mobile-nav.js-nav-toggle{style: 'display: none;', aria: {label: 'Toggle Pages'}, data: {navigation_toggle_target: '#pages-nav'}}
        %span Menu
      %ul#pages-nav.nav
        %li= link_to 'Users', admin_users_path

  %main{role: 'main'}
    = yield

= render template: "layouts/application"
