- content_for :stylesheets do
  = stylesheet_link_tag 'admin', media: 'all'

- content_for :content do
  %aside.sidebar
    %h1 Pages
    %ul
      %li= link_to 'Users', admin_users_path

  %main{role: 'main'}
    = yield

= render template: "layouts/application"
