development:
  adapter: postgresql
  encoding: unicode
  database: tfg-template_development
  pool: 5
  username: develop
  password: develop
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  database: tfg-template_test
  pool: 5
  username: test
  password: test
  host: localhost
