development:
  adapter: postgresql
  encoding: unicode
  database: curtin-volunteers_development
  pool: 5
  username: develop
  password: develop
  host: localhost

test:
  adapter: postgresql
  encoding: unicode
  database: curtin-volunteers_test
  pool: 5
  username: test
  password: test
  host: localhost
