default: &DEFAULT
  address: localhost
  port: 1025

development:
  <<: *DEFAULT

test:
  <<: *DEFAULT

staging:
  address: jazz.thefrontiergroup.net.au
  port: 25

# Use SendGrid for production
production:
  <<: *DEFAULT
