%h1 Admin Management

%p= link_to "Add new admin", new_admin_admin_path, class: "btn"
%p= link_to "Download CSV", UriQueryMerger.new(request.url, {format: :csv}).merge, class: "btn"

= render partial: "user_results"
