.sidebar
  background-color: #fefefe
  width: $sidebar-width
  float: left
  border: 1px solid darken(#fcfcfc, 10%)
  margin-right: $gutter
  font-size: 14px
  padding: ($gutter / 2)

  h1
    font-size: 14px
    margin-top: 0

  ul
    padding-left: 30px

  a
    color: #444
