.tabs
  @extend %list-reset
  @extend %clearfix
  margin-top: ($gutter * 1.5)

  li
    float: left
    margin-left: ($gutter / 2)

    &:first-child
      margin-left: 0

    &.active a
      background-color: $tab-active-background-color
      cursor: default

  a
    background-color: $tab-background-color
    border-color: #ddd
    border-style: solid
    border-top-left-radius: 4px
    border-top-right-radius: 4px
    border-width: 1px 1px 0 1px
    color: #444
    display: block
    padding: ($gutter / 2) $gutter
    text-decoration: none
    transition: background-color $default-timing ease-out
    &:hover
      background-color: darken($tab-background-color, 5%)

