main
  padding: 0 1em

div.container
  +outer-container

.mobile-nav
  display: none
  span
    @extend %visually-hidden

p
  margin: 0 0 $small-spacing

hr
  border-bottom: $border
  border-left: none
  border-right: none
  border-top: none
  margin: $base-spacing 0

img,
picture
  margin: 0
  max-width: 100%

.no-results
  text-align: center
  font-weight: 600
