.button, %button
  background-color: $action-color
  border-radius: $base-border-radius
  color: #fff
  cursor: pointer
  display: inline-block
  font-family: $body-fonts
  font-size: $base-font-size
  font-weight: 600
  line-height: 1
  padding: 0.75em 1em
  text-decoration: none
  vertical-align: middle
  white-space: nowrap
  &:hover,
  &:focus
    background-color: darken($action-color, 15%)
    color: #fff

%button-destructive
  background-color: darken($negative-color, 50)
  &:hover,
  &:focus
    background-color: darken($negative-color, 60)

#{$all-button-inputs},
button
  @extend %button
  @include appearance(none)
  -webkit-font-smoothing: antialiased
  border: none
  user-select: none

  &:disabled
    cursor: not-allowed
    opacity: 0.5

  &.destructive
    @extend %button-destructive

table .button
  font-size: 0.7em
  padding: 0.3em 1em
  margin-left: 0.5em
  line-height: $base-line-height
  &[data-method="delete"]
    @extend %button-destructive
