.page-header
  +clearfix
  margin-bottom: $base-spacing
  padding-bottom: $small-spacing
  border-bottom: 1px solid $line-break-color
  h1
    float: left
    display: inline-block
    margin: 0px
    max-width: 455px
  .header-actions
    float: right

.header-actions
  +clearfix
  .btn
    float: left
    margin-left: 0.5em
    &:first-child
      margin-left: 0

