$flash-notice-color: $positive-color
$flash-alert-color: $negative-color

=flash($flash-color)
  background-color: $flash-color
  color: #fff
  a
    color: #fff
    text-decoration: underline
    &:focus, &:hover
      color: #fff

.flash-wrapper
  .flash
    display: block
    font-weight: 600
    text-align: center
    &-notice
      +flash($flash-notice-color)

    &-alert
      +flash($flash-alert-color)
