.flash
  border: 1px solid transparent
  padding: 5px 10px
  display: inline-block
  &-notice
    border-color: lightblue
    background-color: lighten(lightblue, 10%)
  &-alert
    border-color: red
    background-color: lighten(red, 20%)