form
  > div
    @extend %clearfix
    margin-bottom: $gutter

  .error, .hint
    display: block
    margin-left: 200px
    padding-top: 5px
    font-size: 14px

  .error
    color: #911

  .hint
    color: #666

label
  float: left
  min-height: 28px
  padding-right: $gutter
  padding-top: 2px
  text-align: right
  width: 200px

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea
  border: 1px solid #ccc

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select
  width: 300px

input[type="checkbox"],
input[type="radio"]
  vertical-align: middle

input[type="button"],
input[type="submit"],
input[type="reset"],
button
  background-color: $button-color
  border: none
  color: #fff
  cursor: pointer
  display: inline-block
  padding: ($gutter / 2) $gutter
  transition: background-color 250ms ease-out
  &:hover, &:focus
    background-color: $button-hover-color

input[type="submit"]
  margin-left: 200px

#error_explanation
  +default-panel

  h2
    font-size: 18px
