table
  border-collapse: collapse
  border: 1px solid $table-border-color
  width: 100%

tr
  &:nth-child(odd) td
    background-color: $table-odd-row-background-color

  &:nth-child(even) td
    background-color: $table-even-row-background-color

  &:hover td
    background-color: $table-row-hover-background-color

th
  text-align: left
  border-style: solid
  border-width: 1px 0
  border-color: $table-border-color

th, td
  padding: ($gutter / 2)

tbody
  a
    display: inline-block
    margin-left: ($gutter / 2)
    &:first-child
      margin-left: 0
