- content_for :javascripts do
  = javascript_include_tag 'member'

- content_for :stylesheets do
  = stylesheet_link_tag 'member', media: 'all'

- content_for :navigation do
  = render "layouts/member/navigation"

= render template: "layouts/application"
