- content_for :javascripts do
  = javascript_include_tag 'member'

- content_for :stylesheets do
  = stylesheet_link_tag 'member', media: 'all'

- content_for :content do
  = yield

= render template: "layouts/application"
