%main{role: "main"}

  %h1 Edit User

  = simple_form_for [:member, @user], wrapper: "horizontal", html: { class: "form-horizontal"} do |f|

    = f.input :email
    = f.input :password, required: true
    .form-actions
      = f.button :submit
