- if current_user
  = link_to "Sign out", destroy_user_session_path, method: :delete, class: item_class
- else
  = link_to "Sign in", new_user_session_path, class: item_class
  = link_to "Sign up", new_user_registration_path, class: item_class
