- if can?(:show, :member_dashboard)
  = active_link_to "Dashboard", member_dashboard_index_path, wrap_tag: :li
- if can?(:show, :admin_dashboard)
  = active_link_to "Administration", admin_dashboard_index_path, wrap_tag: :li
