<%= link_to 'New site', new_admin_site_path %>

<table>
  <tr>
    <th>Title</th>
    <th colspan="2"></th>
  </tr>

  <% @site.each do |site| %>
    <tr>
      <td><%= site.name %></td>
      <td><%= link_to 'Edit', edit_admin_site_path(site) %></td>
    </tr>
  <% end %>
</table>